body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: space-between;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}


.header {
    color: white;
    background-color: #1F2937;
    padding: 10px 300px 200px 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.container {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    font-size: 22px;
}

.right {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.welcome {
    margin: 0;
    margin-top: 150px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    max-width: 500px;
    gap: 10px;
}

.text h1 {
    font-size: 48px;
    font-weight: 900;
}

.text p {
    font-size: 18px;
    color: #E5E7EB;
}

.text button {
    padding: 15px 35px;
    background-color: #3882f6;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    border-radius: 13px;
    margin-bottom: 10px;
}

.image {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(167, 167, 167, 0.568);
    width: 700px;
    height: 300px;
}



.information {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0 0 60px 0;
}

.list {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration {
    height: 200px;
    width: 200px;
    border-radius: 22px;
    border-width: 6px;
    border-style: solid;
    border-color: #3882f6;
    margin-bottom: 10px;
}

.item p {
    font-size: 18px;
    color: #707275;
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px;
}

.quote-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    width: 900px;
    font-size: 36px;
    font-weight: 1;
    color: #1f2937a2;
}

.quote p {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937
}

.register {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}

.box {
    padding: 40px 150px;
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    border-width: 6px;
    border-style: solid;
    border-color: #3882f6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.signup-text {
    margin-right: 190px;
}

.box p {
    color: #E5E7EB;
}

.box button {
    padding: 6px 25px;
    background-color: #3882f6;
    color: white;
    border: white;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-width: 2px;
    border-radius: 10px;
}


.footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.795);
    background-color: #1F2937;
    padding: 40px;
}
